
pad {
  padding: 80px;
  text-align: center;
  background: #FFB6C1;
  color: black;
  font-size: 60px;
}

body {
  background-color: gray;
}

blockquote {
  border-style: solid;
  border-color: pink;
  border-width: 5px;

